html{
    min-height: 100%;
}

body{
    background-color: rgba(0, 0, 0, 0.747);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.1px;
    
}

.PersonalInformation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(240, 255, 240, 0.171);
    width: 90%;
    max-width: 950px;
    margin: auto;
    border: 1px solid white;
}

.title{
    text-transform: uppercase;
    font-size: 42px;
}

.links ul{
    display: flex;
    gap: 17px;
    list-style-type: none;
}


.links a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

a.unico{
    background-color: black;
    padding: 10px;
    pointer-events: none;
    
}
.links a:hover{
    text-decoration: underline;
}

h2{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}

.plan{
    color: greenyellow;
}

.MainBox{
    display: flex;    
    width: 90%;
    max-width: 950px;
    margin: auto;
    justify-content: center;
    gap: 17px;
    border-radius: 7px;

}

.content{
    display: flex;
    padding: 20px;
    background-color: #202c3660;
    flex-direction: column;
    display: flex;

}

.content h3{
    text-align: center;
    text-transform: uppercase; 
    font-size: 25px;
    padding: 10px;
    margin-top: 0;
    color: white;
    border-bottom: 2px solid greenyellow;
    margin-bottom: 0;
}

.content p{
    text-align: center;
    color: white;
}

.content span{
    font-size: 30px;
}

.PlanInformation{
    line-height: 2;
    flex-grow: 1;
    padding: 0 30px;
    margin-bottom: 60px;
}

.PlanInformation li{
    color: rgba(255, 255, 255, 0.774);
}

.PlanInformation li::marker{
    color: yellow;
}


.Subscribe{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.685);
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

.Subscribe:hover{
    background-color: transparent;
    outline: 2px solid #cbe300;
}