html ,body{
    height: 100%;
}

body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-title {
    color: #385555;
}

.list{
    width: 90%;
    max-width: 950px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17px;
    list-style-type: none;
    text-align: center;
}

.listaDeConteudo{
    flex-basis: 270px;
    background-color: white ;
    border-radius: 7px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);;
    background-image: url(../imagens/thumb04.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}

.listaDeConteudo__imagens img{
    width: 100px;
    border-radius: 50%;
    margin-top: 110px;
}

.listaDeConteudo__name h2{
    margin: 0;
    color: green;
    font-size: 25px;
}

.listaDeConteudo__name p{
    margin-top: 10px;
    font-size: 15px;
    color: red;
}

.listaDeConteudo__simbolos{
    display: flex;
    justify-content: space-evenly;
    background-color: #e5e5e5;
    padding: 20px;
}
